<div class="px-12 pt-64 leading-none sm:h-screen bg-flower">
  <h1 class="text-4xl text-center font-title pt-16 pb-32 md:text-5xl">
    You Belong Among the Wildflowers
  </h1>
</div>

<!-- Let's Remember Carol Together -->
<div class="page-section p-8 lg:px-32 xl:px-64">
  <ccp-register (register)="onRegister($event)"></ccp-register>
</div>

<!-- Attend as a Flower -->
<div class="page-section mt-24 p-8 lg:px-32 xl:px-64">
  <ccp-tributes [virtualGuest]="virtualGuest"></ccp-tributes>
</div>

<!-- Obituary -->
<!-- <div class="page-section mt-24 p-8 lg:px-32 xl:px-64">
  <div class="sm:flex sm:flex-row">
    <img
      src="/assets/images/who-would-jesus-bomb.jpg"
      class="mb-4 sm:max-w-1/3 align-middle"
      alt="flower"
    />

    <div class="sm:ml-6">
      <h1 class="text-2xl">Carol Cline Palmer</h1>
      <p class="text-base">Something something...</p>

      <div class="mt-4 w-100 text-center">
        <button
          type="button"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 shadow focus:outline-none focus:shadow-outline"
        >
          Read More
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- Donations -->
<div class="page-section mt-24 p-8 lg:px-32 xl:px-64">
  <h2 class="text-2xl">Donations</h2>
  <p class="text-base leading-snug mt-2">
    In lieu of flowers, please donate to one of Carol's favorite charitable
    organizations:
  </p>
  <div class="text-base mt-2">
    <ul>
      <li>
        <a
          href="https://give.cff.org/tribute/CarolPalmerMemorial"
          target="_blank"
          >Cystic Fibrosis Foundation</a
        >
      </li>

      <li>
        <a
          href="https://donate.doctorswithoutborders.org/onetime.cfm"
          target="_blank"
          >Doctors Without Borders</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="bg-bottom pt-64 pb-10 sm:h-screen"></div>
