<div
  class="w-11/12 sm:w-4/5 md:w-1/2 bg-white shadow-md p-6 md:p-10 mx-auto my-4"
>
  <img
    class="border-solid rounded mx-auto mb-4 sm:max-w-xs md:max-w-full"
    src="assets/images/sunflower.jpg"
    alt="sunflower"
  />

  <p class="text-lg">
    Enter your name and email address to be invited to the virtual celebration
  </p>

  <form
    *ngIf="showForm"
    #registerForm="ngForm"
    class="w-full mx-auto"
    name="zoom-register"
    (submit)="onSubmit(registerForm)"
    netlify
    netlify-honeypot="bot-field"
  >
    <div class="w-full mt-2 border-b border-blue-500">
      <input
        type="text"
        id="first-name"
        name="firstName"
        [(ngModel)]="virtualGuest.firstName"
        #firstName="ngModel"
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-2 px-2 leading-tight focus:outline-none"
        placeholder="First name"
        required
      />
    </div>
    <div
      *ngIf="
        firstName.invalid &&
        (firstName.dirty || firstName.touched || validateAll)
      "
      class="text-red-700 ml-2"
    >
      <small>First name is required</small>
    </div>

    <div class="w-full mt-2 border-b border-blue-500">
      <input
        type="text"
        id="last-name"
        name="lastName"
        [(ngModel)]="virtualGuest.lastName"
        #lastName="ngModel"
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-2 px-2 leading-tight focus:outline-none"
        placeholder="Last name"
        required
      />
    </div>
    <div
      *ngIf="
        lastName.invalid && (lastName.dirty || lastName.touched || validateAll)
      "
      class="text-red-700 ml-2"
    >
      <small>Last name is required</small>
    </div>

    <div class="w-full mt-2 border-b border-blue-500">
      <input
        type="email"
        id="zoom-email"
        name="zoomEmail"
        [(ngModel)]="virtualGuest.zoomEmail"
        #zoomEmail="ngModel"
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-2 px-2 leading-tight focus:outline-none"
        placeholder="Email address"
        required
      />
    </div>
    <div
      *ngIf="
        zoomEmail.invalid &&
        (zoomEmail.dirty || zoomEmail.touched || validateAll)
      "
      class="text-red-700 ml-2"
    >
      <small>Email address is required</small>
    </div>

    <div class="w-full mt-4 text-center">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 shadow focus:outline-none focus:shadow-outline"
        [disabled]="!registerForm.dirty"
      >
        Register
      </button>
    </div>
  </form>

  <ccp-register-success *ngIf="!showForm" class="mt-4"></ccp-register-success>
</div>
