@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1, h2 {
    @apply text-gray-800 font-display;
  }

  a {
    @apply text-blue-600 font-bold;
  }

  a:hover {
    @apply text-blue-800 font-extrabold;
  }

  .bg-flower {
    background: url("/assets/images/bg-cone-flower.jpg") top no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }

  .bg-body {
    background: url("/assets/images/bg-body.jpg");
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }

  .bg-bottom {
    background: url("/assets/images/bg-bottom.jpg") top no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
}
